<a href="https://colab.research.google.com/github/fefo716/AnyoneAI/blob/main/Copia_de_customers_and_orders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Technical Challenge ! Custiomers and Orders - The lifeblood of any business!

This notebook depends on two data files: customers.scv and orders.csv. These files are hosted in the cloud (or Github), so for simplicity, we are providing you with the code to download and save the two files in a folder called 'sample_data' which lives within this notebook session (not on your local computer nor Google Drive).

![sample_data folder in notebook session](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/sample_data_folder.png)

Please execute the first code snippet before moving to the rest of the exercise as this code will import the data from the files for you to be able to execute the rest of the exercise.

Remember as we said in the previous lecture, you have to save this notebook into your Google Drive by going to menu File/Save a Copy In Drive, or clicking in the button "Copy to Drive". This way, you will not lose any work you've done and the file will persist with your latest changes in your Google Drive. Also we recommend you to rename your .ipynb in your Google Drive, so you can easily find it in the future.

In [ ]:
import requests

def import_data_files():
  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
  with open('./sample_data/customers.csv', 'wb') as f:
    f.write(r.content)

  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv')
  with open('./sample_data/orders.csv', 'wb') as f:
    f.write(r.content)
  
import_data_files()
print("Customers and orders CSV files have been added './sample_data'")

Customers and orders CSV files have been added './sample_data'

# Exercise 1: Processing Customers data (difficulty medium)

The sample customer data in 'customers.csv' file has just 5 columns: CustomerId, First Name, Last Name, City and State

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/customers.png)

We strongly recommend that you complete from the [Prep Course: Intro to Python](https://colab.research.google.com/github/anyoneai/notebooks/blob/main/python3_crash_course.ipynb) the following section:
- Section 7: File I/O (to understand how to read CSV file) 
- Section 6: For Loop (to navigate the contents of the CSV file)
- Section 5: Tuples, Lists, and Dictionaries (to manipulate the data of the CSV file)

With this, we hope you can complete this exercise successfully. Although if you want to solve this with libraries or any other way, you are welcome to do it your way.

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://github.com/anyoneai/notebooks/blob/main/customers_and_orders/data/customers.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, keep in mind that data might not be clean and you might have to figure out how to deal with that data from the code, without having to modify the data source.

Below are the 5 questions you'll have to answer to pass the evaluation:

**Question 1:** How many customers are in the file?
(as help, we have added some comments and starter code to help you structure the solution)

In [ ]:
from os.path import exists
import csv
#import numpy and pandas to get the data and manipulate it
import pandas as pd
import numpy as np

# check if file can be found and open the file
datafile = "./sample_data/customers.csv"
if not exists(datafile):
  raise SystemExit("You should run the first code cell and download the dataset files!")

# customers file is in the sample_data folder and can be opened.
# Using csv reader is one way of dealing with the file 
# but it's up to you how you want to proceed
with open(datafile, 'r') as fl:
  csvreader = csv.reader(fl, delimiter=',')
  #I´m going to answer the questions manipulating the data with Numpy and Pandas
df = pd.read_csv('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
print('To get the answer one: ')
'''print(len(list(df['CustomerID'].unique())))'''
# The code below give me an answer that its not in the choisses
df['FullName'] = df['FirstName'] + df['LastName']
print(len(list(df['FullName'].unique())))
print(df.info)
# I´m going to choose "602" like the right one because I understand that Customer = Every direction to deliver this products,
# instead to think "471" are the total customers.

To get the answer one:
471
<bound method DataFrame.info of      CustomerID    FirstName  ... State            FullName
0          6192        Randi  ...    CA     RandiPiedrahita
1       5100595  Christopher  ...    CA  ChristopherAbraham
2       1902451        Elvis  ...    CA       ElvisJauregui
3       1906377         Jose  ...    CA    JoseMota-Sanchez
4       1902406      Scott    ...    CA     Scott  McCrorie
..          ...          ...  ...   ...                 ...
597     5415365      Trinity  ...    CA    TrinityHall Reif
598     5415465       Kisona  ...    CA   KisonaMialoto Jr.
599     5415345     Lawrence  ...    CA       LawrenceZhang
600     5415481         John  ...    TX          JohnHughes
601     5415482      Phillip  ...    CA       PhillipOkonma

[602 rows x 6 columns]>

**Question 2:** In how many different states do the customers live in?

In [ ]:
# Read the data with pandas, get the DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
# check unique values
df['State'].unique()
# correct that ones that has some issue
df['State'] = df['State'].replace(['CA           ','Ca'],['CA','CA'])
# get the answer counting...
print(len(list(df['State'].unique())))

14

**Question 3** What is the state with most customers?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
# i dont know how "github" works so I call here the csv again
df['State'] = df['State'].replace(['CA           ','Ca'],['CA','CA'])
# Group by State and count the columns
df.groupby('State',axis=0).count().sort_values(ascending=False,by='CustomerID')

       CustomerID  FirstName  LastName  City
State
CA            569        569       569   569
NV              8          8         8     8
AZ              6          6         6     6
CO              3          3         3     3
FL              3          3         3     3
NM              3          3         3     3
TX              2          2         2     2
UT              2          2         2     2
ID              1          1         1     1
IN              1          1         1     1
MA              1          1         1     1
NH              1          1         1     1
OR              1          1         1     1
WA              1          1         1     1

**Question 4** What is the state with the least customers?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
df['State'] = df['State'].replace(['CA           ','Ca'],['CA','CA'])
df.groupby('State',axis=0).count().sort_values(ascending=True,by='CustomerID')

       CustomerID  FirstName  LastName  City
State
ID              1          1         1     1
IN              1          1         1     1
MA              1          1         1     1
NH              1          1         1     1
OR              1          1         1     1
WA              1          1         1     1
TX              2          2         2     2
UT              2          2         2     2
CO              3          3         3     3
FL              3          3         3     3
NM              3          3         3     3
AZ              6          6         6     6
NV              8          8         8     8
CA            569        569       569   569

**Question 5:** What is the most common last name?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
df.groupby('LastName',axis=0).count().sort_values(ascending=False,by='CustomerID')

           CustomerID  FirstName  City  State
LastName
Smith               8          8     8      8
Doggett             5          5     5      5
Zambrana            5          5     5      5
Gomez               5          5     5      5
Johnson             4          4     4      4
...               ...        ...   ...    ...
Maye                1          1     1      1
DePland             1          1     1      1
Mathewson           1          1     1      1
Mather              1          1     1      1
Oquinn              1          1     1      1

[424 rows x 4 columns]

# Exercise 2: Processing Orders data (difficulty high)

The second sample files contains orders placed by customers from the first file. Be careful, this file has many rows and you most likely should not print the contents of the whole file. 

The file contains the following columns: CustomerID, OrderID, Date, OrderTotal, ProductName, Price

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/orders.png)

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, the data is not clean and you will have to figure out how to deal with that data from the code, without having to modify the data source.



**Question #1:** How many unique orders are in the orders.csv file?

**Question #2:** What is the average number of items per order (rounded to two decimal places)?

**Question #3:** What is the highest number of items per order?

**Question #4:** What is the number of orders placed in October 2021?

**Question #5:** Which customer spent the most amount of money in 2021?

**Question #6:** Historically, what is the best month for sales?

Once you get your answers, remember to go back to the course and introduce them in the multiple choice quiz

In [ ]:
# open and evaluate orders.csv
df1 = pd.read_csv('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv')
print(df1.info())
#1
print('Answer one:')
print(len(list(df1['OrderID'].unique())))
print(' \n ')
#2
print('Answer two:')
oocc = df1.groupby('OrderID',axis=0).count()
print(oocc['CustomerID'].mean())
print(' \n ')
#3
print('Answer three:')
print(oocc.nlargest(1,'CustomerID'))
print(' \n ')
#4
print('Answer four:')
df1['year'] = pd.DatetimeIndex(df1['Date']).year
df1['month'] = pd.DatetimeIndex(df1['Date']).month
print(df1.head())
date = df1.groupby(['month','year'],axis=0).count()
print(date.loc[10,2021])
print(' \n ')
#5
print('Answer five:')
customer = df1.groupby(['year','CustomerID']).sum()
print(customer.loc[2021])
#print(customer.loc[2021].sort_values('OrderTotal',ascending=False))
print(customer.loc[2021].sort_values('Price',ascending=False))
print(' \n ')
#6
print('Answer six:')
best_month = df1.groupby('month').sum()
print(best_month.sort_values('Price',ascending=False))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29294 entries, 0 to 29293
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   29294 non-null  int64
 1   OrderID      29294 non-null  int64
 2   Date         27152 non-null  object
 3   OrderTotal   29294 non-null  float64
 4   ProductName  29294 non-null  object
 5   Price        29294 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.3+ MB
None
Answer one:
16672


Answer two:
1.7570777351247602


Answer three:
         CustomerID  Date  OrderTotal  ProductName  Price
OrderID
5802666          35    35          35           35     35


Answer four:
   CustomerID  OrderID                     Date  ...  Price    year  month
0        8091  7742581  2021-07-26 14:40:10.783  ...   90.0  2021.0    7.0
1      902139  7742778  2021-08-08 05:01:21.120  ...   60.0  2021.0    8.0
2     2300266  7742593  2021-07-27 11:00:16.020  ...   90.0  2021.0    7.0
3     2300266  7742593  2021-07-27 11:00:16.020  ...   90.0  2021.0    7.0
4     5173013  7742609  2021-07-28 14:26:13.930  ...  160.0  2021.0    7.0

[5 rows x 8 columns]
CustomerID     437
OrderID        437
Date           437
OrderTotal     437
ProductName    437
Price          437
Name: (10.0, 2021.0), dtype: int64


Answer five:
              OrderID  OrderTotal   Price  month
CustomerID
5014        162721626      9015.0  2310.0  150.0
5053         69866849      1232.0   970.0   75.0
5068         77468388      3301.0  1090.0   73.0
5076        139641962      4414.0  2160.0  144.0
5078        147332253      9247.0  2185.0  147.0
...               ...         ...     ...    ...
5415329       7791121       187.0   180.0   12.0
5415331       7791064       132.0   125.0   12.0
5415337       7791117       107.0   100.0   12.0
5415345       7791127       187.0   180.0   12.0
5415350       7791145       132.0   125.0   12.0

[342 rows x 4 columns]
              OrderID  OrderTotal   Price  month
CustomerID
5172443     263524454     27990.0  7675.0  262.0
1907160     232642349     11220.0  5485.0  234.0
5464        279642641     56170.0  5470.0  303.0
5100984     170807954     13900.0  5225.0  190.0
4300438     178028532     15454.0  4960.0  165.0
...               ...         ...     ...    ...
5370602       7742363       105.0   100.0    7.0
5415211       7790467       107.0   100.0   12.0
5415286       7790453       105.0   100.0   12.0
5370422       7741381        95.0    90.0    6.0
5370388       7741176        90.0    85.0    6.0

[342 rows x 4 columns]


Answer six:
       CustomerID      OrderID  OrderTotal     Price       year
month
1.0    4448475168  17806489615    858727.0  287515.0  5800826.0
11.0   2776648144  14409991544    745817.0  232065.0  4806807.0
10.0   2945169065  14397611230    597649.0  231305.0  4763223.0
2.0    2694663642  13655498478    831150.0  226005.0  4688947.0
6.0    2568393750  13614896458    753265.0  218700.0  4561878.0
5.0    2688951727  13704549849    798050.0  215685.0  4505893.0
9.0    2685207328  13657710344    747421.0  214075.0  4479421.0
8.0    2773298578  12785459166    575493.0  213608.0  4297716.0
12.0   2571441304  12910327072    510948.0  209475.0  4297227.0
4.0    2483001044  12619435460    560733.0  205135.0  4333845.0
3.0    2073744601  12136813583    556715.0  200660.0  4204712.0
7.0    2438423680  12315659071    585495.0  199040.0  3996150.0

# Finished!

Hope this was not too difficult and slicing and dicing the datasets was some fun. Now head on back to the course and provide the answers to the questions from this exercise.